[Unit]
Description=DjangoChat daemon
After=network.target

[Service]
Type=simple
DynamicUser=true
StateDirectory=djangochat/data
WorkingDirectory=/var/lib/djangochat
ExecStart=/var/lib/djangochat/venv/bin/gunicorn \
          --bind 0.0.0.0:8000 \
          djangoChat.wsgi
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed

[Install]
WantedBy=multi-user.target
