<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
</head>
<body>
<div id="app">
    <div v-for="message in messages">
        &lt;{{ timeFromDate(message.date) }}&gt; [{{ message.nickname }}]: {{ message.text }}
    </div>
    <form>
        <input type="text" v-model="nickname" placeholder="Nickname">
        <input type="text" v-model="text" placeholder="Enter your message...">
        <button type="submit" @click.stop.prevent="sendMessage">Send</button>
    </form>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.js"></script>
<script src="ui.js"></script>
</html>